Lista de Exercícios - Revisão do conteúdo do curso Pandas do Kaggle 02.

01) Carregue o arquivo GSAF5.xls.csv em uma variável denominada df definindo a primeira coluna do arquivo como o índice das linhas.

Obs: O arquivo "GSAF5.xls.csv" pode ser encontrado em [Shark Attacks](https://www.kaggle.com/datasets/thedevastator/shark-attacks-the-risks-of-coastal-water-activit)

In [ ]:
pip install googletrans==3.1.0a0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting googletrans==3.1.0a0
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.7/dist-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.9.24)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.11.1)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.5.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.3.0)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.7/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.7/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.7/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.7/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16370 sha256=ddfe84ad2a73103c910669c9b0ec36d9d9a82371d420701837ae0c80486b2c5e
  Stored in directory: /root/.cache/pip/wheels/0c/be/fe/93a6a40ffe386e16089e44dad9018ebab9dc4cb9eb7eab65ae
Successfully built googletrans
Installing collected packages: googletrans
  Attempting uninstall: googletrans
    Found existing installation: googletrans 3.0.0
    Uninstalling googletrans-3.0.0:
      Successfully uninstalled googletrans-3.0.0
Successfully installed googletrans-3.1.0a0

In [ ]:
import pandas as pd
from googletrans import Translator

df = pd.read_csv('/content/GSAF5.xls - GSAF5.xls (1).csv', index_col = 0)
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,17,18,19,20,21,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
index,,,,,,,,,,,,,,,,,,,,,
0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020.01.17,17-jan.-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020.01.16,16-jan.-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020.01.13,13-jan.-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6457,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6458,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6459,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6460,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6461,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

02) Imprima as 8 primeiras linhas do DataFrame df.

In [ ]:
df.head(8)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
index,,,,,,,,,,,,,,,,,,,,,
0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020.01.17,17-jan.-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020.01.16,16-jan.-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020.01.13,13-jan.-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020.01.12,12-jan.-2020,2020.0,Unprovoked,THAILAND,Phang Nga Province,Nang Thong Beach,Swimming,Hans-Peter Malten,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2020.01.07,07-jan.-2020,2020.0,Unprovoked,AUSTRALIA,Queensland,North West Island,Swimming,Miah Holmes,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2020.01.05,05-jan.-2020,2020.0,Unprovoked,AUSTRALIA,Western Australia,Cull Island / Esperance,Scuba diving,Gary Johnson,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

03) Apresente a contagem de acidentes que acontenceram em cada pais. Ordene o resultado pela coluna pais de forma descendente.

In [ ]:
df.groupby('Country')['Case Number'].count().sort_values(ascending = False)

Country
USA                         2309
AUSTRALIA                   1374
SOUTH AFRICA                 585
PAPUA NEW GUINEA             135
NEW ZEALAND                  135
                            ...
OCEAN                          1
NORTHERN MARIANA ISLANDS       1
NORTHERN ARABIAN SEA           1
NORTH SEA                      1
ADMIRALTY ISLANDS              1
Name: Case Number, Length: 205, dtype: int64

04) Qual a atividade que mais gera acidentes com tubarões?

In [ ]:
df.groupby("Activity")['Activity'].count().sort_values(ascending = False)

Activity
Surfing                                         1025
Swimming                                         932
Fishing                                          459
Spearfishing                                     350
Bathing                                          166
                                                ...
Fishing, standing in water washing fish            1
Fishing, standing in water next to purse net       1
Fishing, standing in waist-deep water              1
Fishing, standing in 2' of water                   1
yachtsman in a zodiac                              1
Name: Activity, Length: 1516, dtype: int64

05) É possível descobrir se existe alguma pessoa nesta base de dados que já tenha sofrido mais de um acidente com tubarões?

In [ ]:
df['Name'].value_counts()

male                     579
female                   106
boy                       23
2 males                   19
boat                      14
                        ...
Matt Kraskiewicz           1
Norman Payne               1
Henrietta Musselwhite      1
Jason Licamele             1
Jules Patterson            1
Name: Name, Length: 5339, dtype: int64

06) Quantos casos de Data Frame não possuem cadastro para a coluna 'Location'?

In [ ]:
df.loc[df['Location'].isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
index,,,,,,,,,,,,,,,,,,,,,
0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2019.12.12,12-Dec-2019,2019.0,Questionable,REUNION ISLAND,NaN,NaN,Kayaking,NaN,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,2018.12.15.b,15-Dec-2018,2018.0,Provoked,AUSTRALIA,New South Wales,NaN,NaN,male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,2017.12.09,09-Dec-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Snorkeling,Sarah Illig-Carroll,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6453,ND.0009,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6454,ND.0008,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6455,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6456,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,NaN,Swimming,Arab boy,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6458,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

07) Qual o tipo de dados da coluna Year?

In [ ]:
df['Year'].dtype

dtype('float64')

08) Converta a coluna Year para int64. Sugestão: O parâmetro inplace pode ser utilizado para que a conversão seja gravada no Data Frame.

In [ ]:
df['Year'].fillna(0)
df['Year'] = pd.to_numeric(df['Year'] , errors='coerce')

09) Preencha todas as células vazias (NaN) da coluna Location com o termo 'Desconhecido'.

In [ ]:
df['Location'].fillna('Desconhecido', inplace = True)
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
index,,,,,,,,,,,,,,,,,,,,,
0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,Desconhecido,Stand-Up Paddle boarding,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,Desconhecido,Floating,Ana Bruna Avila,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020.01.17,17-jan.-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020.01.16,16-jan.-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020.01.13,13-jan.-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6457,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6458,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Desconhecido,Pearl diving,Ahmun,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6459,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6460,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6461,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

10) Faça a tradução da coluna Type substituindo os termos em inflês por seus respectivos termos em português.

In [ ]:
tradutor = Translator()
lista = ['Unprovoked', 'Provoked', 'Invalid','Sea Disaster', 'Watercraft', 'Boat', 'Boating', 'Questionable', 'Unconfirmed', 'Unverified', 'Under investigation', 'Boatomg']
traducoes = tradutor.translate(lista, src='en', dest='pt')
a = 0
for traducao in traducoes[0:12]:
  print(traducoes[a].origin, '-->', traducoes[a].text)
  a += 1

Unprovoked --> Não provocado
Provoked --> Provocado
Invalid --> Inválido
Sea Disaster --> Desastre Marítimo
Watercraft --> Embarcação
Boat --> Barco
Boating --> Passeios de barco
Questionable --> Questionável
Unconfirmed --> Não confirmado
Unverified --> Não verificado
Under investigation --> Sob investigação
Boatomg --> Boatomg

In [ ]:
df['Type'].replace({'Unprovoked': traducoes[0], 'Provoked' : traducoes[1], 'Invalid' : traducoes[2], 'Sea Disaster' : traducoes[3],
                    'Watercraft' : traducoes[4], 'Boat' : traducoes[5], 'Boating' : traducoes[6], 'Questionable' : traducoes[7],
                    'Unconfirmed' : traducoes[8], 'Unverified' : traducoes[9], 'Under investigation' : traducoes[10], 'Boatomg' : traducoes[11]}, inplace = True)
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sexo,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
index,,,,,,,,,,,,,,,,,,,,,
0,2020.02.05,05-Feb-2020,2020.0,Não provocado,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provocado,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020.01.17,17-jan.-2020,2020.0,Não provocado,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020.01.16,16-jan.-2020,2020.0,Não provocado,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020.01.13,13-jan.-2020,2020.0,Não provocado,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6457,ND.0005,Before 1903,0.0,Não provocado,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6458,ND.0004,Before 1903,0.0,Não provocado,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6459,ND.0003,1900-1905,0.0,Não provocado,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6460,ND.0002,1883-1889,0.0,Não provocado,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6461,ND.0001,1845-1853,0.0,Não provocado,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

11) Renomeie a coluna 'Unnamed: 9' para 'Sexo'.

In [ ]:
df = df.rename(columns={'Unnamed: 9' : 'Sexo'})
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sexo,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
index,,,,,,,,,,,,,,,,,,,,,
0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020.01.17,17-jan.-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020.01.16,16-jan.-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020.01.13,13-jan.-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6457,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6458,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6459,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6460,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6461,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN